  .container1 {
  /* background-color: antiquewhite; */
  display: flex;
  gap: 5rem;
  justify-content: center;
  flex-wrap: wrap;
}
.cont1_left {
  /* background-color: rgb(255, 136, 0); */
  
  /* padding: 70px 30px 70px 70px; */
  
}
.cont1_left .photo {
  width: 350px;
  height: 350px;
  /* background-color: bisque; */
  border-right: 1px solid var(--main-color);
  border-bottom: 4px solid var(--main-color);
  border-radius: 25px;
}
.cont1_left .photo img {
  border-radius: 25px;
  width: 100%;
  height: 100%;
  border-right: 15px solid rgb(0, 0, 0);
  border-bottom: 15px solid rgb(0, 0, 0);
  transition: 0.3s ease-in-out;
}
.cont1_left .photo img:hover {
  box-shadow: 0 0 25px 0px var(--main-color);
}

.cont1_right {
 max-width: 700px;
}
.cont1_right .info {
  /* background-color: aqua; */
  border: 2px solid var(--main-color);
  border-radius: 20px 50px;
  transition: 0.3s ease-in-out;
  padding: 30px 60px 30px 40px;
  
}
.info:hover {
  box-shadow: 0 0 25px var(--main-color);
}
.cont1_right h3 {
  font-size: 32px;
}
.cont1_right span {
  text-shadow: 0 0 20px var(--main-color);
  font-size: 25px;
}

.cont1_right p {
  font-size: 15px;
  padding: 15px 0px;
  

  text-align: justify;
}
.cont1_right .btn {
  margin-top: 20px;
}

@media(max-width:600px)
{
  .About_me{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

  }
  .About_me .heading{
    font-size: 4.2rem;
  }
  .container1{
    flex-wrap: wrap;
    justify-content: center;
  }
  .cont1_left {
    /* background-color: aqua; */
    
    padding: 30px;

  }
  .cont1_left .photo {
    width: 240px;
    height: 240px;
  }
 
  .cont1_right .info{
    padding: 20px;
  }
  .cont1_right h3 {
    font-size: 32.7px;
    /* line-height: 40px; */
  }
  .cont1_right span {
   
    font-size: 23px;
    
  }
  .cont1_right p {
    font-size: 13px;
    line-height: 22px;

  
    
  }
}
