.project{
padding-bottom: 25vh;
padding-top: 10vh;
/* background: var(--second-bg-color); */

}
.fillter-buttons {
  margin: 2rem;
  text-align: center;
}
.fillter-buttons .btn {
  /* letter-spacing: .4px; */
  margin-left: 1.5rem;
}
.portfolio-gallery {
  
  display: flex;
  flex-wrap: wrap;
  
  gap: 3rem; 
  justify-content: center;
  align-items: center;
}

@media(max-width:600px){
  .project{
    display: block;
  }
  .project .heading{
    font-size: 4.2rem;
  }
}
